<div class="row p-5" id="welcome">
    <div class="col">
        <h1 class="display-4 animate__animated animate__flash">Welcome to your 
            <span class="text-primary">Budget</span>
        </h1>
        <span>Judit Santos - Sprint 7 IT Academy</span>
        <hr>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et officiis ad sint.
          At velit nam laudantium? Sint earum, vel, blanditiis asperiores nihil sit
          facere provident ipsam vero eum, distinctio nam.
        </p>
        <button
          class="btn btn-primary"
          routerLink="/home"
          routerLinkActive="router-link-active"
        >
          Begin!
        </button>
    </div>
</div>
