<div id="panel"
     class="row p-3 my-2 align-items-center border rounded animate__animated animate__flipInX"
     [formGroup]="panelForm">

  <!-- PAGES -->
  <div class="col-6 p-2">
    <label class="col-form-label"
      >Pages
      <!-- MODAL INFO -->
      <app-modal></app-modal>
    </label>
  </div>
  <div class="col-sm-6">
    <div class="input-group">
      <button
        type="button"
        (click)="budgetService.addOptions('pages', panelForm.value.pages)"
        class="btn btn-info text-light"
      >
        <strong>+</strong>
      </button>
      <input
        type="number"
        class="form-control"
        [value]="panelForm.value.pages"
        formControlName="pages"
      />
      <button
        type="button"
        (click)="budgetService.addOptions('pages', -panelForm.value.pages)"
        class="btn btn-info text-light"
      >
        <strong>-</strong>
      </button>
    </div>
  </div>

  <!-- LANGUAGES -->
  <div class="col-6 p-2">
    <label class="col-form-label">Languages
      <!-- MODAL INFO -->
      <app-modal></app-modal>
    </label>
  </div>
  <div class="col-sm-6">
    <div class="input-group">
      <button
        type="button"
        (click)="budgetService.addOptions('languages', panelForm.value.languages)"
        class="btn btn-info text-light">
        <strong>+</strong>
      </button>

      <input
        type="number"
        [value]="panelForm.value.languages"
        class="form-control"
        formControlName="languages"
      />

      <button
        type="button"
        (click)="budgetService.addOptions('languages', -panelForm.value.languages)"
        class="btn btn-info text-light"
      >
        <strong>-</strong>
      </button>
    </div>
  </div>
  <pre> {{ (panelForm.value.pages + panelForm.value.languages) * 30 }} </pre>
</div>


