<div id="panel"
     class="row p-3 my-2 align-items-center border rounded animate__animated animate__flipInX"
     [formGroup]="panelForm">

  <!-- PAGES -->
  <div class="col-6 p-2">
    <label class="col-form-label"
      >Pages
      <!-- MODAL INFO -->
      <app-modal></app-modal>
    </label>
  </div>
  <div class="col-sm-6">
    <div class="input-group">
      <button
        type="button"
        (click)="add('pages')"
        class="btn btn-info text-light"
      >
        <strong>+</strong>
      </button>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="pricePages"
        formControlName="pages"
        min="1"
      />
      <button
        type="button"
        (click)="substract('pages', panelForm.value.pages)"
        class="btn btn-info text-light"
      >
        <strong>-</strong>
      </button>
      <span class="form-text text-danger"
            *ngIf="invalidField('pages')" >
            Invalid number
      </span>
    </div>
  </div>

  <!-- LANGUAGES -->
  <div class="col-6 p-2">
    <label class="col-form-label">Languages
      <!-- MODAL INFO -->
      <app-modal></app-modal>
    </label>
  </div>
  <div class="col-sm-6">
    <div class="input-group">
      <button
        type="button"
        (click)="add('languages')"
        class="btn btn-info text-light">
        <strong>+</strong>
      </button>

      <input
        type="number"
        [(ngModel)]="priceLanguages"
        class="form-control"
        formControlName="languages"
      />

      <button
        type="button"
        (click)="substract('languages', panelForm.value.languages)"
        class="btn btn-info text-light"
      >
        <strong>-</strong>
      </button>
      <span class="form-text text-danger"
            *ngIf="invalidField('languages')" >
            Invalid number
      </span>
    </div>
  </div>
  <span> Total: {{ (pricePages + priceLanguages) * 30 }} </span>
</div>


